<!DOCTYPE HTML>
<html>
<head>
<title>时间匹配</title>
<link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="__CSS__/prism.css">
<link rel="stylesheet" href="__CSS__/jquery.range.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.mim.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/responsiveslides.min.js"></script>
<script src="__JS__/prism.js"></script>
<script src="__JS__/jquery.range.js"></script>
<!-- 日期选择的控件 -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-hu.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-de.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-es.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-fr.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-it.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-no.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-pt-BR.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-zh.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-nl.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-tr.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.core-2.6.2-ja.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.core-2.6.2.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/css_date/mobiscroll.animation-2.6.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/js_date/mobiscroll.datetime-2.6.2.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.list-2.6.2.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.list-2.6.2.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.select-2.6.2.js" type="text/javascript"></script>
<script src="__JS__/js_date/mobiscroll.android-2.6.2.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.android-2.6.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/js_date/mobiscroll.android-ics-2.6.2.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.android-ics-2.6.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/js_date/mobiscroll.ios-2.6.2.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.ios-2.6.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/js_date/mobiscroll.jqm-2.6.2.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.jqm-2.6.2.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/css_date/mobiscroll.sense-ui-2.6.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/js_date/mobiscroll.wp-2.6.2.js" type="text/javascript"></script>
<link href="__CSS__/css_date/mobiscroll.wp-2.6.2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
		$(function () {
			var curr = new Date().getFullYear();
			var opt = {

			};
			opt.date = {preset : 'date' , minDate: new Date(2015,1,1), maxDate: new Date(2020,12,31)};
			opt.datetime = { preset : 'datetime', minDate: new Date(2015,3,10,7,30), maxDate: new Date(2020,12,30,3,30), stepMinute: 5  };
			opt.time = {preset : 'time'};
			opt.tree_list = {preset : 'list', labels: ['Region', 'Country', 'City']};
			opt.image_text = {preset : 'list', labels: ['Cars']};
			opt.select = {preset : 'select'};
	<!--Script-->
			$('select.changes').bind('change', function() {
				var demo = 'default';
				$(".demos").hide();
				$("#demo_" + demo).show();
				$('#test_'+demo).val('').scroller('destroy').scroller($.extend(opt['date'], { theme: 'default', mode: 'scroller', display: 'modal', lang: 'zh' }));
				$(".demos_end").hide();
				$("#demo_default_end").show();
				$("#test_default_end").val('').scroller('destroy').scroller($.extend(opt['date'], { theme: 'default', mode: 'scroller', display: 'modal', lang: 'zh' }));
				
			});
			$('#demo').trigger('change');
			//$('#demo_end').trigger('change');
		});
	
	
</script>
	
<!-- 日期选择控件结束-->
<script>
$(function () {
  $("#slider").responsiveSlides({
	auto: true,
	nav: true,
	speed: 500,
	namespace: "callbacks",
	pager: true,
  });
});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		var screen_width=screen.width/1.5;
		$('.range-slider').jRange({
			from: 7,
			to: 24,
			step: 1,
			//scale: ['7:00','7:30','8:00','8:30','9:00','9:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00','22:30','23:00','23:30','24:00'],
			scale: ['7:00','8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00','24:00'],
			format: '%s点',
			width: screen_width,
			theme: 'theme-blue',
			showLabels: true,
			isRange : false
		});
	});
</script>
<script>
	function show_table(){
		if(document.getElementById('activity_info').style.display=="none"){
		document.getElementById('activity_info').style.display="block";
		}
		else{
			document.getElementById('activity_info').style.display="none";
			}
	
}
	function get_url2(id){
		//var a="hello world"+id; 
		//window.clipboardData.setData('Text','$a'); 
		//copy_code(a);
		var url='http://221.207.242.123/timeMatching/index/participate/activity_id/'+id;
		var label=document.getElementById("url"); 
		label.innerText=url; 
		$("#url").html(url); 
	}
	function copy_code(copyText) 
    {
        if (window.clipboardData) 
        {
            window.clipboardData.setData("Text", copyText);
        } 
        else 
        {
            var flashcopier = 'flashcopier';
            if(!document.getElementById(flashcopier)) 
            {
              var divholder = document.createElement('div');
              divholder.id = flashcopier;
              document.body.appendChild(divholder);
            }
            document.getElementById(flashcopier).innerHTML = '';
            var divinfo = '<embed src="../js/_clipboard.swf" FlashVars="clipboard='+encodeURIComponent(copyText)+'" width="0" height="0" type="application/x-shockwave-flash"></embed>';
            document.getElementById(flashcopier).innerHTML = divinfo;
        }
      alert('copy成功！');
    }
</script>
</head>

<body>

<!--header-->
		<!--about-->
		<div class="content">
			<div class="about-section">
				<div class="container">
					<h2>时间匹配</h2>
					<!--<img src="__IMG__/slider.jpg" class="img-responsive" alt="/">
					<h5>巴拉巴拉广告语</h5>-->
					<!--<p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>-->
					<button class="btn btn-success" onclick="show_table()">发起新活动</button>
					<div id="activity_info" style="display:none; " >
					<form role="form" action="./index/add_activity" method="post">
						<div class="form-group">
							<input type="text" name="flag_add" value="add" style="display:none">
							<table class="table  ">
								<tr>
									<td width="29%"><B>活动名:</B></td><td><input type="text" name="activity_name" class="form-control"></td>
								</tr>
								<tr>
									<td><B>活动地:</B></td><td><input type="text" name="activity_place" class="form-control"></td>
								</tr>
								<tr>
									<td><B>发起人:</B></td><td><input type="text" name="activity_leader" class="form-control"></td>
								</tr>
								<tr>
									<td><B>开始日期:</B></td><td><div id="demo_default" class="demos"><input type="text"  class="form-control"   name="test_default" id="test_default" /></div></td>
								</tr>
								<tr>
									<td><B>结束日期:</B></td><td><div id="demo_default_end" class="demos_end"><input type="text" class="form-control"  name="test_default_end" id="test_default_end"/></div></td>
								</tr>
								<tr>
									<td><B>备注:</B></td><td><input type="text" name="activity_remark" class="form-control"></td>
								</tr>
								<tr>
									<td colspan="2"><button class="btn btn-warning" onclick="this.form.submit()">提交</button></td>
								</tr>
							</table>
						</div>
					</form>
					</div>
					<div>
						<notempty name="list">
							<form role="form" action="./index/update_activity" method="post">
							<div style="display:none">
								<label for="demo">Demo</label>
								<select name="demo" id="demo" class="changes">
									<option value="date" selected>Date</option>
								</select>
							</div>
							<div class="form-group">
								<input type="text" name="flag_update" value="update" style="display:none">
								<input type="text" name="activity_id" value="{$list.ActivityId}" style="display:none">
								<table class="table ">
									<tr>
										<td width="33%"><B>活动名称:</B></td><td ><input type="text" name="activity_name_update" class="form-control" value="{$list['ActivityTitle']}"></td>
									</tr>
									<tr>
										<td><B>活动地点:</B></td><td ><input type="text" name="activity_place_update" class="form-control" value="{$list['ActivityPlace']}"></td>
									</tr>
									<tr>
										<td><B>发起人:</B></td><td><input type="text" name="activity_leader_update" class="form-control" value="{$list['ActivityLeaderName']}"></td>
									</tr>
									<tr>
										<td><B>开始日期:</B></td><td><input type="text" value="{$list['ActivityStartDate']}" class="form-control" disabled  /></div></td>
									</tr>
									<tr>
										<td><B>结束日期:</B></td><td><input type="text" class="form-control" value="{$list['ActivityEndDate']}" disabled /></div></td>
									</tr>
									<tr>
										<td><B>备注：</B></td><td><input type="text" name="activity_remark_update" class="form-control" value="{$list['ActivityRemark']}"></td>
									</tr>
									<tr>
										<td colspan="2"><button class="btn btn-warning" onclick="this.form.submit()">提交修改</button></td>
									</tr>
									
									<!--<tr>
										<td colspan="2"><button class="btn btn-warning" onclick="get_url2({$list['ActivityId']})">复制活动链接</button></td>
									</tr>-->
								</table>
							</form>
						
								
						</div>
						<button class="btn btn-warning" name="copy" onclick="get_url2({$list['ActivityId']})">生成活动链接</button>
						<div>
							<label name="url" id="url"></label>
						</div>
						</notempty>
					</div>
					
					
					
					
					<!--
					<div class="demo-output" >
            			<input class="range-slider" type="hidden" value="1,7"/>
            		</div>
					<button class="btn btn-warning" onclick="show_info()">获取值</button>
					-->
					
				</div>
			</div>
		<!--about-->
		<!--why-choose-->
		<!--
			<div class="why-choose">
				<div class="container">
					<h3>Awards & recognitions</h3>
					<div class="choose-grids">
						<div class="col-md-4 choose-grid">
							<h4>1. Vestibulum iaculis</h4>
							<p>Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim.</p>
						</div>
						<div class="col-md-4 choose-grid">
							<h4>2. Mauris asan nulla</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>
						</div>
						<div class="col-md-4 choose-grid">
							<h4>3. faucibus risus</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	
			</div>
		
			<div class="ourteam">
				<div class="container">
					<h3>our team</h3>
					<div class="team-grids">
						<div class="col-md-3 team-grid">
							<img src="__IMG__/t1.jpg" class="img-responsive" alt="" />
							<h4>Bradley Grosh</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="__IMG__/t2.jpg" class="img-responsive" alt="" />
							<h4>david austin</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="__IMG__/t3.jpg" class="img-responsive" alt="" />
							<h4>Patrick Pool</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="__IMG__/t4.jpg" class="img-responsive" alt="" />
							<h4>Dayle Peters</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		
				<div class="whatweoffer">
					<div class="container">
						<h3>What We Offer</h3>
						<div class="offer-grids">
							<div class="col-md-7 offer-grid">
								<h4>Donec leo tellus, porta sit amet auctor id, porttitor</h4>
								<p>Donec leo tellus, porta sit amet auctor id, porttitor scelerisque neque. Mauris varius a massa eu fringilla. Duis tempus lectus pharetra dui posuere eleifend ut et nibh. Proin finibus libero sed augue cursus, non fermentum purus pellentesque. Praesent vel mauris mauris. Lorem ipsum dolor sit amet, consectetur adip.</p>
								<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ut nunc sagittis velit hendrerit gravida. Proin velit risus, dapibus in purus at, ultricies suscipit neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat diam et nulla commodo tincidunt eget vel massa. Sed mattis ex id orci dictum dictum</p>
							</div>
						<div class="col-md-5 offer-grid1">
							<h4>Fusce interdum metus et turpis</h4>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
											<span class="sr-only">40% Complete (success)</span>
									</div>
								</div>
							<h4>Lacinia fermentum</h4>
								<div class="progress">
									 <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
											<span class="sr-only">20% Complete</span>
									 </div>
								</div>
							<h4>Aenean nec eros luctus</h4>
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
										<span class="sr-only">60% Complete (warning)</span>
									</div>
								</div>
							<h4>Vestibulum ante faucibus orci</h4>
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">80% Complete (danger)</span>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				
				<div class="touch-section">
					<div class="container">
						<h3>get in touch</h3>
						<div class="touch-grids">
							<div class="col-md-4 touch-grid">
								<h4>address</h4>
								<h5>Gold Plaza</h5>
								<p>9870St Vincent Place,</p>
								<p>Glasgow, DC 45 Fr 45.</p>
								<p>United Kingdom</p>
							</div>
							<div class="col-md-4 touch-grid">
								<h4>Sales</h4>
								<h5>Sales Enquiries</h5>
								<p>Telephone : +1 800 603 6035</p>
								<p>Fax : +1 800 889 9898</p>
								<p>E-mail : <a href="mailto:example@mail.com"> example@mail.com</a></p>
							</div>
							<div class="col-md-4 touch-grid">
							<h4>general</h4>
									<h5>Gold Plaza</h5>
								<p>Telephone : +1 800 603 6035</p>
								<p>Fax : +1 800 889 9898</p>
								<p>E-mail : <a href="mailto:example@mail.com"> example@mail.com</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					</div>
				
		
			</div>
		
			<div class="footer-section">
				<div class="container">
					<div class="footer-top">
						<p>Copyright &copy; 2015.哈尔滨工业大学-李晓明 <br>All rights reserved.</p>
					</div>
				</div>
			</div>
			-->
</body>
</html>
